aiohappyeyeballs
aiohttp
aiosignal
asgiref
asn1crypto
async-timeout
backoff
beautifulsoup4
boto3
botocore
chromadb
dataclasses-json
dnspython
docstring_parser
flatbuffers
frozenlist
fsspec
httpx-sse
huggingface-hub
jieba
jmespath
joblib
langchain
langchain-community
langchain-core
langchain-milvus
langchain-ollama
langchain-text-splitters
langsmith
marshmallow
mpmath
multidict
mypy_extensions
mysql-connector-python
mysqlclient
networkx
nltk
oauthlib
ollama
onnxruntime
orjson
overrides
posthog
propcache
proto-plus
pyasn1_modules
pymilvus
pyopenssl
pypika
python-magic
pytz
redis
regex
requests-oauthlib
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
shapely
sortedcontainers
soupsieve
sse-starlette
sympy
threadpoolctl
tokenizers
tomlkit
torch
transformers
typing-inspect
vanna
watchfiles
websocket-client
wrapt
yarl
zipp
